# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flet / Flutter builds
build/
flutter/
*.apk
*.exe

# Data (Ignorer les fichiers locaux pour éviter de commit des données sensibles)
data/*.csv
data/*.db
archive/python_project/data/*.csv
archive/python_project/data/*.db

# Scratch / Temporary
scratch/

# OS
.DS_Store
Thumbs.db

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata
